In [1]:
tup1=()
print(tup1,type)

() <class 'type'>

In [2]:
tup2=(1)
print(tup2,type(tup2))

1 <class 'int'>

In [3]:
tup2=(1,)
print(tup2,type(tup2))

(1,) <class 'tuple'>

In [4]:
tup3=(1,2,"a","hello")
print(tup3)

(1, 2, 'a', 'hello')

In [6]:
tup4=1,2,3,4,"d"  #automatically taks it as a tuple
print(tup4)

(1, 2, 3, 4, 'd')

In [7]:
tup4[0]

1

In [8]:
A=("iron-man","thor","hulk","captain")
A[1]

'thor'

In [9]:
A[-1]

'captain'

In [10]:
type(A[-1])

str

In [11]:
A[0:2]

('iron-man', 'thor')

In [12]:
A[::-1]

('captain', 'hulk', 'thor', 'iron-man')

In [13]:
#tuples are immutable

In [14]:
A[4]

IndexError: tuple index out of range

In [15]:
len(A)

4

In [16]:
tup1=(10,20)
print(tup1)

(10, 20)

In [17]:
a,b=tup1
print(a)
print(b)

10
20

In [18]:
a,b,c=(10,20)

ValueError: not enough values to unpack (expected 3, got 2)

In [19]:
a,b,c=(10,20,30)
print(a)
print(b)
print(c)

10
20
30

In [20]:
a,b=(10,20,30,40)

ValueError: too many values to unpack (expected 2)

In [21]:
a,b,*c=(10,20,30,40)
print(a,b,c)

10 20 [30, 40]

In [22]:
id(A)

139982992892176

In [23]:
A2=A
id(A2)

139982992892176

In [24]:
print(A2)

('iron-man', 'thor', 'hulk', 'captain')

In [25]:
dir(A)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [26]:
t1=(1,2,4,2,5,6,8,5,3,1,2,3,3,2,4,5,6)

In [27]:
t1.count(3)

3

In [29]:
t1.index(8)

6

In [30]:
t2=(10,20)

In [31]:
t1+t2

(1, 2, 4, 2, 5, 6, 8, 5, 3, 1, 2, 3, 3, 2, 4, 5, 6, 10, 20)

In [34]:
t3=t2*2

In [35]:
print(t3[2])
id(t3[2])

10

94227461837856

In [36]:
print(t3[0])
id(t3[0])

10

94227461837856

In [37]:
max(t1)

8

In [38]:
t1

(1, 2, 4, 2, 5, 6, 8, 5, 3, 1, 2, 3, 3, 2, 4, 5, 6)

In [39]:
t4=(1,2,3,"a")
max(t4)

TypeError: '>' not supported between instances of 'str' and 'int'

In [40]:
"a">1

TypeError: '>' not supported between instances of 'str' and 'int'

In [42]:
#In python2 when str is compared with int str is greater and hence the output of "35">45 will be True

In [43]:
a=input("Enter the items : ")
t1=tuple(a.split())
print(t1)

Enter the items : Google Amazon Twitter GitHub Microsoft
('Google', 'Amazon', 'Twitter', 'GitHub', 'Microsoft')

In [44]:
t2=("aa","aab","a")

In [45]:
min(t2)

'a'

In [46]:
max(t2)

'aab'

In [47]:
list1=[]
type(list1)

list

In [48]:
list2=[1,2,3,"a","b",(1,2,3)]

In [49]:
print(list2)

[1, 2, 3, 'a', 'b', (1, 2, 3)]

In [50]:
list2[4]

'b'

In [51]:
list2[-1]

(1, 2, 3)

In [52]:
list3=[1,2,("hello","iron-man"),"m"]

In [53]:
list3[3]

'm'

In [54]:
list3[2][1]

'iron-man'

In [55]:
list3[2][1][5:]

'man'

In [56]:
list1=["iron-man","thor","captain","hulk"]

In [57]:
list1[2]="Captain-America"

In [58]:
list1

['iron-man', 'thor', 'Captain-America', 'hulk']

In [59]:
del list1[0]

In [60]:
list1

['thor', 'Captain-America', 'hulk']

In [61]:
list3=[10,20,30]
a=10

In [62]:
id(a)

94227461837856

In [63]:
id(list3[0])

94227461837856

In [64]:
list4=list3

In [66]:
id(list3)

139982992417728

In [67]:
id(list4)

139982992417728

In [1]:
list1=[10,30]
list2=list1[:]

In [2]:
id(list1)

140030901642976

In [3]:
id(list2)

140030901640960

In [4]:
[10,20]+[10,20]

[10, 20, 10, 20]

In [5]:
[10,20]*2

[10, 20, 10, 20]

In [6]:
dir(list1)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [13]:
list1=[10,20]

In [14]:
list1.append(30)

In [15]:
list1

[10, 20, 30]

In [16]:
list1.append(("A tuple of numbers"))

In [17]:
list1

[10, 20, 30, 'A tuple of numbers']

In [18]:
list1.extend(('Testing','an','extend'))

In [19]:
list1

[10, 20, 30, 'A tuple of numbers', 'Testing', 'an', 'extend']

In [20]:
list1.append(('What','about','a','tuple','in','extend'))

In [21]:
list1 #append takes tuple as single item while extend splits into many list items.

[10,
 20,
 30,
 'A tuple of numbers',
 'Testing',
 'an',
 'extend',
 ('What', 'about', 'a', 'tuple', 'in', 'extend')]

In [22]:
list1.extend(50) #extend only takes series of input

TypeError: 'int' object is not iterable

In [23]:
list2=[10,30,40]

In [24]:
list2.insert(1,20)

In [25]:
list2

[10, 20, 30, 40]